page-home {
    
}
      .btn_access{
        width: 80%;
        margin: -1% auto 4% auto;
        background: #ea4a00;
      }
           
.btn_access:hover{
    background: #ea4a00 !important;
}
   
   .form{
    margin-top: 20%;
   }
     
   
   