.search_bar{
    width: 100%;
    display: inline-flex;
    margin-bottom: -5%;
}

.searcb_bar_icon{
    width: 20%;
    height: inherit;
    margin: 2% 2%;
}

ion-searchbar{
    width: 80%;
}

.search_{
    background: #eee;
    width: 100%;
}

.search_hint{
    padding: 1% 2% 2% 2%;
    text-align: center;
    font-size: small;
}